<div class="modal-header">
  <h4 class="modal-title pull-left">User Information</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" type="text" placeholder="Enter name">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" name="email" class="form-control" type="email" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label for="name">Password</label>
      <input id="pwd" name="pwd" class="form-control" type="password" placeholder="Enter password">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input id="city" name="city" class="form-control" type="text" placeholder="Enter city">
    </div>
    <br>
    <p style="text-align:center;" class="form-group">
      <input *ngIf="!flag" type="button" class="btn btn-primary" value="Submit">
      <input *ngIf="flag" type="button" class="btn btn-primary" value="Update">
    </p>
  </form>
</div>
<div class="modal-footer">
  <button style="float: right;" class="btn btn-default" (click)="closeModal()"> Close </button>
</div>